*{
    box-sizing: border-box;
    opacity: 1;
}
body{
    background-color: rgb(102, 96, 89);
}
.bg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn{
    width: 200px;
    height: 80px;
    background-color: rgb(187, 182, 174);
    border: 7.5px solid rgb(161, 148, 128);
    border-radius: 5px;
    padding: 20px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    box-shadow: 0 5px rgb(86, 79, 71);

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    color: white;
    background-color: rgb(161, 148, 128);
    border: 7.5px solid rgb(187, 182, 174);
    box-shadow: 0 5px rgb(139, 135, 128);
}
.game{
    width: 800px;
    height: 800px;
    background-color: white;

    border-radius: 10px;
    margin: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: calc((100% - 72px) / 2);
    height: calc((100% - 72px) / 2);
    border-radius: 7.5px;
}
.disappear{
    opacity: 0;
}