*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bookmark{
    width: 100%;
    height: 60px;
    display: flex;
}
.chapter{
    width: 200px;
    height: 100%;
    background-color: bisque;
    border: 1px solid black;
}
.content{
    width: 100%;
    height: calc(100vh - 60px);
}