footer{
    width: 100%;
    height: 75vh;
    margin: 20vh 10px 0 10px;
    position: fixed;
    background-color: #000;
    color: #a00;
    border-radius: 300px 0 0 0;
    overflow: hidden;
    padding-top: 15%;
    bottom: 0;
}
.footer-container{
    width: 100%;
}
footer h1{
    position: absolute;
    top: -20%;
    font-size: 400px;
    margin: 0;
    transition: color 1s;
}
footer h1:hover{
    color: #ccc;
}
.footer{
    width: 33.33%;
    border: 2px solid #a00;
    transition: color 1s;
}
.footer:hover{
    background-color: #a00;
}
.footer:hover p{
    color: #300;
}
.footer-last{
    padding: 20px;
}
.footer-container h2{
    color: #ccc;
}
.footer-container p{
    margin: 0 0 25px 0;
    color: #800;
}
