<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- #1 text -->
        {{text}}
        <hr>
        <!-- #2 v-model綁定num -->
        <input type="text" v-model="num">
        <hr>
        <!-- #3 綁定num 修飾符number -->
        <input type="number" v-model.number="num">
        {{num}}
        <hr>
        <!-- #4 呈現person.name -->
        {{ person.name }}
        <hr>
        <!-- #5 取出person.image(圖片[v-bind]) -->
        <img v-bind:src="person.image" alt="">
        <hr>
        <!-- #6 v-bind 改為縮寫 -->
        <img :src="person.image" alt="">
        <hr>
        <!-- #7 a標籤 methods 修改cash 金額 -->
        <!-- #8 v-on 加入修飾符 -->
        <a href="#" v-on:click.prevent="cashChange(person.cash)">點我</a>
        <hr>
        <!-- #9 使用 v-if 判斷 gender 修改 icon -->
        <i v-if="person.gender === 'male'" class="fa-thin fa-mars">men</i>
        <!-- #10 使用v-else 判斷另一個 -->
        <i v-else="person.gender === 'female'" class="fa-sharp fa-solid fa-venus">women</i>
        <!-- #11 使用 v-for 呈現 people data -->
        <ul>
            <li v-for="(item, key) in people" :key="key">
                {{item.cash}} {{ key }},
                {{item.name}},
                <input type="text" v-model="item.name">
            </li>
        </ul>
        <!-- #12 people data 改為物件展示 -->
        
        <!-- #13 v-for(:key) -->
        
        <!-- #14 v-for key 之問題 (將people改成陣列) -->
        
        <!-- #15 呈現 people data -->
        
        <!-- #16 people 的 name 綁定 v-model -->
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    text:'Hello World!',
                    name: 'Emma',
                    num: 0,
                    person:{
                        name: 'Arashi',
                        image: 'https://www.google.com.tw/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png',
                        cash: 500,
                        gender: 'female'
                    },
                    people:[ 
                        {
                            name: '拉拉拉',
                            image: 'https://www.google.com.tw/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png',
                            cash: 500,
                            gender: 'female'
                        },
                        {
                            name: '哈哈',
                            image: 'https://stickershop.line-scdn.net/stickershop/v1/product/7028/LINEStorePC/main.png',
                            cash: 300,
                            gender: 'male'
                        },
                        {
                            name: 'Arashi',
                            image: 'https://media3.giphy.com/media/gdwf3hCno7Uouwdjmf/giphy.gif?cid=6c09b95288a5744bc7ff071dd54605afa04cecddd54e04c6&ep=v1_internal_gifs_gifId&rid=giphy.gif&ct=g',
                            cash: 400,
                            gender: 'female'
                        },
                    ]
                }
            },
            methods: {
                cashChange(num){
                    num ++;
                    console.log(num);
                }
            },
            mounteds: function(){
            }
        }).mount('#app');
    </script>
</body>
</html>