.control_banner{
    display: flex;
    justify-content: center;
}
.control_ban_act{
    width: 176px;
    height: 44px;
    display: flex;
}
.control_box{
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow{
    font-size: 24px;
    padding: 0 8px;
}
/* .arrow-left{
    display: flex;
    justify-content: end;
}
.arrow-right{
    display: flex;
    justify-content: start;
} */
.dot{
    font-size: 12px;
}

.arrow-left:hover{
    display: flex;
    justify-content: start;
    transition: 10s;
}
.arrow-right:hover{
    display: flex;
    justify-content: end;
    transition: 10s;
}