*{
    box-sizing: border-box;
}
body{
    padding: 0px 0px;
    margin: 0px 0px;

    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: 54px;
    /* background-color: aqua; */

    padding: 0px 5%; 
    margin-bottom: 2px;

    display: flex;
}

.microbox{
    width: 121px;
    height: 22px;

    margin-top: 1px;
    margin-right: 20px;
    padding: 16px 6px 10px 16px;
    
    display: flex;
}

.micro_img{
    width: 108px;
    height: 23px;

    margin-top: -3px;

    display: flex;

    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31");
    background-size: contain;
    background-repeat: no-repeat;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: space-between;
    /* background-color: brown; */
}

.left_options{
    display: flex; 
      
    align-items: center;
}
.left_options_button{
    border: 1px;
    /* background-color: blue; */
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #262626;
    font-size: 13px;
    padding: 16px 8px 10px 8px;
    margin: 1px;

}

.right_options{
    
    display: flex;   
    align-items: center;
}
.right_options_button{
    border: 1px;
    background-color: blue;

    padding: 16px 8px 10px 8px;
    margin: 1px;

}
.content{
    position: relative;
}
picture{
    width: 100%;
}
picture img{
    width: 100%;
}
.computer_pic{
    width: 100%;

    position: relative;
    /* display: flex;
    align-items: center; */
} 
.title_box_right{
    /* background-color: rgb(128, 37, 37); */
    padding: 48px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 250px;
}
.new{
    background-color: #FFB900;

    padding: 6px 12px;
    margin-bottom: 8px;

    display: inline-block;
    
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    /* vertical-align: top; */
    /* max-width: 100%; */
    /* overflow-wrap: break-word; */

 } 
.surface_pro_9{
    margin-bottom: 20px;

    font-size: 2.3125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}
.introduce{
    margin-bottom: 24px;
}
.understand{
    width: 92px;
    height: 40px;

    background-color: #1e68b7;

    margin: 8px 0px;
    padding: 10px 12px;

    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);

    font-weight: 600;
    border: 2px solid transparent;
    
    border-radius: 0.125rem;

} 
.slide{
    width: 200px;

    margin: auto;
    margin-bottom: 58px;
    display: flex;
    justify-content: space-around;
}
.left_highlight{
    font-size: 30px;
}
.circle_white{
    font-size: 12px;
    padding: 12px 0;
}
.circle_white{
    font-size: 12px;
    padding: 12px 0;
}
.circle_black{
    font-size: 12px;
    padding: 12px 0;
    padding: 12px 0;
}
.right_highlight{
    font-size: 30px;
}

.list{
    height: 106px;
    justify-content: center;
    margin-bottom: 16px;
}
li{
    list-style: none;
}