*{
    box-sizing: border-box;
}
body{
    padding: 0px 0px;
    margin: 0px 0px;

    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.header{
    width: 100%;
    height: 54px;
    /* background-color: aqua; */

    padding: 0px 5%; 
    margin-bottom: 2px;

    display: flex;
}

.microbox{
    width: 121px;
    height: 22px;

    margin-top: 1px;
    margin-right: 20px;
    padding: 16px 6px 10px 16px;
    
    display: flex;
}

.micro_img{
    width: 108px;
    height: 23px;

    margin-top: -3px;

    display: flex;

    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31");
    background-size: contain;
    background-repeat: no-repeat;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: space-between;
    /* background-color: brown; */
}

.left_options{
    display: flex; 
      
    align-items: center;
}
.left_options_button{
    border: 1px;
    /* background-color: blue; */
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #262626;
    font-size: 13px;
    padding: 16px 8px 10px 8px;
    margin: 1px 4px;

}

.right_options{
    
    display: flex;   
    align-items: center;
}
.right_options_button{
    border: 1px;
    /* background-color: blue; */

    padding: 16px 8px 10px 8px;
    margin: 1px;

}
.content{
    position: relative;
    width: calc(1600px + 10%) ;
    margin: 0 auto;
}
picture{
    width: 100%;
}
picture img{
    width: 100%;
}
.computer_pic{
    width: 100%;

    position: relative;
    /* display: flex;
    align-items: center; */
} 
.title_box{
    /* background-color: rgb(128, 37, 37); */
    padding: 48px;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 250px;
}
.new{
    background-color: #950C17;

    padding: 6px 12px;
    margin-bottom: 8px;

    display: inline-block;
    
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: white;
    /* vertical-align: top; */
    /* max-width: 100%; */
    /* overflow-wrap: break-word; */

 } 
.big_title{
    margin-bottom: 20px;

    font-size: 2.3125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}
.introduce{
    margin-bottom: 24px;
}
.understand{
    width: 92px;
    height: 40px;

    background-color: #000000;

    margin: 8px 0px;
    padding: 10px 12px;

    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);

    font-weight: 600 !important;
    border: 2px solid transparent;
    
    border-radius: 0.125rem;

} 
.slide{
    width: 200px;

    margin: auto;
    margin-bottom: 58px;
    display: flex;
    justify-content: space-around;
}
.left_highlight{
    font-size: 30px;
}
.circle_white{
    font-size: 12px;
    padding: 12px 0;
}
.circle_white{
    font-size: 12px;
    padding: 12px 0;
}
.circle_black{
    font-size: 12px;
    padding: 12px 0;
    padding: 12px 0;
}
.right_highlight{
    font-size: 30px;
}

.list{
    height: 136px;
    /* background-color: aquamarine; */

    padding: 0 12px;
    margin-bottom: 48px;

    display: flex;
    justify-content: center;
}
.list_box{
    height: calc(100% - 16px);
    margin-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
}
li{
    color: #000000;
    list-style: none;
    font-weight: 600!important;
    align-items: center!important;
}
a{
    color: #000000;
}
.list_btn{
    margin: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

}
.list_logo{
    width: 40px;
    height: 40px;
    
    margin-bottom: 8px;

    /* display: flex;
    align-items: center; */
}
.product{
    width: 100%;
    /* background-color: rgb(80, 20, 143); */

    padding: 0 5%;
    margin-bottom: 48px;

    display: flex;
}
.product_box{
    width: 25%;
    
    padding: 0 12px;
}
.product_img{
    width: 100%;
}
.product_new{
    width: 100%;
    height: 32px;
    padding-top: 16px;

 } 
.product_title{
    margin-bottom: 16px;

    font-size: 1.8125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.sell{
    color: #950C17;
    padding-top: 16px;
}
.function{
    margin: 0 auto;
    padding: 48px 5% 0 5%;

}
.funtion_img{
    width: 100%;
}
.title_product{
    margin-bottom: 20px;
}
.follow{
    padding: 0 calc(5% + 12px);
    display: flex;
}
.follow_micro{
    margin-right: 12px;
}
.app_icon{
    width: 32px;
    height: 32px;

    margin-right: 12px;
}
.back{
    height: 65px;

    padding: 12px;

    display: flex;
    justify-content: flex-end;
}
.backhome{
    background-color: #d9d9d9;
    border: 2px;
    padding: 10px 12px;

}
.footer{
    background-color: #f2f2f2;

    margin-top: 48px;
    padding: 0 5%;

    display: flex;
}
.footer_box{
    padding: 0 12px;
}
.footer_title{
    height: 60px;

    padding: 36px 0 4px 0;

    color: #616161;
}
.footer_content{
    height: 32px;

    padding: 8px 0px;
}