* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 0px 0px;
    margin: 0px 0px;

    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

label{
    display: block;
}

input{
    display: none;
}
#burger:checked ~ ul{
    display:block;
}

/* h{
    margin: 0px; 
    padding: 0px;
} */
.header {
    width: 100%;
    height: 54px;
    /* background-color: aqua; */

    /* padding: 0px 5%;  */
    margin-bottom: 2px;

    display: flex;
}

.microbox {
    width: 121px;
    height: 100%;

    margin-top: 1px;
    padding: 16px 6px 16px 10px;

    display: flex;
}

.micro_img {
    width: 108px;
    height: 23px;

    margin-right: 3px;

    display: flex;

    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE1Mu3b?ver=5c31");
    background-size: contain;
    background-repeat: no-repeat;
}

.options {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
}

.left_options {
    display: flex;
    align-items: center;
}

.button {
    border: 1px;
    /* background-color: blue; */
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #262626;
    font-size: 13px;

    margin: 1px 4px;
    padding: 16px 8px 10px 8px;

    position: relative;

    display: flex;
    align-items: center;
}

ul{
    width: 1230px;
    background-color: #f2f2f2;
    z-index: 10;

    margin-left: -875px;
    padding: 0;

    position: absolute;
    top: 40px;

    display: none; 
}
.burger_phone{
    display: none;
}
.burger_phone > .button{
    width: 100%;
}
.webmap{
    width: 100%;
    background-color: #e6e6e6;
}
.webmap .button{

    justify-content: center;
}
.allmicro_bg{
    width: 100%;

    border: 1px solid rgba(0,0,0,.05);
    border-bottom: 2px solid #000000;

    display: flex;
    flex-wrap: wrap;
}
.allmicro_top{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}
.button_title{
    width: 16.666%;
}
.button_title .button{
    padding: 12px 0 12px 24px;
}

.weight span{
    font-weight: 600;
}

.right_options {
    height: 100%;

    display: flex;
    align-items: center;
}

.btn {
    margin: 8px;
}

.user_btn {
    font-size: 32px;
}

.content {
    /* width: 100% ; */
    width: calc(1600px + 10%);
    margin: 0 auto;
    padding: 0 5%;
}

.title_img {
    width: 100%;

    /* position: absolute; */
}

#computer {
    width: 100%;

}

#img {
    width: 100%;
}

.computer_pic {
    width: 100%;
    /* height: 595px; */

    display: flex;
    align-items: center;

    position: relative;
}

.title_content {
    width: 100%;
    margin-left: -100%;
}

.title_box {
    width: 41.6667%;

    padding: 48px;
}

.new {
    background-color: #ffffff;

    padding: 6px 12px;
    margin-bottom: 8px;

    display: inline-block;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: #950c17;
    /* vertical-align: top; */
    /* max-width: 100%; */
    /* overflow-wrap: break-word; */

}

.big_title {
    margin-bottom: 20px;

    font-size: 2.3125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.introduce {
    margin-bottom: 24px;
}

.understand {
    width: 92px;
    height: 40px;

    background-color: #000000;

    margin: 8px 0px;
    padding: 10px 12px;

    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);

    font-weight: 600 !important;
    border: 2px solid transparent;

    border-radius: 0.125rem;

}

.slide {
    margin-top: 12px;
    margin-bottom: 58px;

    display: flex;
    justify-content: center;
}

.slide_box {
    padding: 0 16px;

    display: flex;
    align-items: center;
}

.left_highlight {
    font-size: 30px;
    padding: 0 8px;
}

.circle_white {
    font-size: 12px;
    margin: 8px;
}

.circle_black {
    font-size: 12px;
    margin: 8px;
}

.right_highlight {
    font-size: 30px;
    padding: 0 8px;
}

.list {
    width: 100%;
    /* background-color: aquamarine; */

    padding: 0 12px;
    margin-bottom: 48px;

    display: flex;
    justify-content: center;
}

.list_box {
    height: calc(100% - 16px);
    margin-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    color: #000000;
    list-style: none;
    font-weight: 600 !important;
    align-items: center !important;
}

a {
    color: #000000;
}

.list_btn {
    margin: 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;



}

.list_logo {
    width: 40px;
    height: 40px;

    margin-bottom: 8px;

    /* display: flex;
    align-items: center; */
}

.product {
    width: 100%;
    /* background-color: rgb(80, 20, 143); */

    /* padding: 0 5%; */
    margin-bottom: 48px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product_box {
    width: calc((100% - 72px) / 4);

    margin-bottom: 48px;
}

.product_img {
    width: 100%;
}

.product_new {
    background-color: #950C17;

    padding: 6px 12px;
    margin-top: 16px;
    margin-bottom: 8px;

    display: inline-block;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: white;
}

.product_none {
    padding: 6px 12px;
    margin-top: 16px;
    margin-bottom: 8px;

    display: inline-block;

    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: white;
}

.product_title {
    margin-bottom: 16px;

    font-size: 1.8125rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.sell {
    color: #950C17;
    font-weight: 600;

    margin: 16px 0;
}

.function_img {
    width: 100%;
}

.function_pic {
    width: 100%;
    /* height: 600px; */

    margin: 48px 0 96px 0;

    display: flex;
    align-items: center;
}

.function_content {
    width: 100%;

    margin-left: -100%;

    display: flex;
    align-items: center;
    justify-content: start;
}

.function_box {
    width: 33.3333%;
    padding: 48px;
    margin: 0 48px;
}

.title_product {
    margin-bottom: 20px;
    /* padding: 0 5%; */

    font-size: 2.3125rem;
    font-weight: 600;
    line-height: 1.2;
}

.follow {
    /* padding: 0 5%; */
    display: flex;
}

.follow_micro {
    margin-right: 12px;

    display: flex;
    align-items: center;
}

.app_icon {
    width: 32px;
    height: 32px;

    margin-right: 12px;
}

.back {
    padding-bottom: 48px;

}

.backhome {
    background-color: #d9d9d9;
    border: 2px;
    padding: 10px 12px;
    float: right;
    position: sticky;
    bottom: 12px;
    right: 12px;
    /* top: 5px; */
}

.content_footer {
    background-color: #f2f2f2;
}

.footer {
    margin-top: 48px;
    /* padding: 0 5%; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_box {
    width: calc((100% - 120px) / 6);
}

.footer_title {
    font-weight: 600;
    font-size: 15px;

    padding: 36px 0 4px 0;

    color: #616161;
}

.footer_content {
    height: 32px;

    font-weight: 400;
    font-size: 11px;

    padding: 8px 0px;
}

.last {
    width: 100%;


    padding-top: 30px;
    padding-bottom: 16px;

    display: flex;
    justify-content: space-between;
}

.last_box {
    margin: 3px 0;

    display: flex;

}

.last_content {
    font-size: 11px;

    padding-right: 24px;
    padding-bottom: 4px;

    color: #616161;

    display: flex;
    align-items: center;
}

.vvv {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}
#burger{
    display: none;
}
.none {
    display: flex;
}
.block{
    display: block;
}
#none1{
    display: none;
}
.ex2{
display: none;
}
#none3{
    display: none;
}
.right_box{
    display: flex;
}
.left_box{
    display: flex;
}
.microbox2{
    display: none;
}
.function{
    width: 100%;

}
.earth{
    font-size: 20px;
    margin-right: 10px;
}
.fa-angle-left:hover{
    transform: translate(-5px,0);
    transition: all 0.5s ease;
}
.right_highlight .fa-angle-right:hover{
    transform: translate(5px,0);
    transition: all 0.5s ease;
}

.line > span:hover{
    border-bottom: 2px solid black;
}
.line2 > span:hover{
    text-decoration: underline;
}

#none2 > span:hover{
    border-bottom: 2px solid black;
}
.sell span:hover{
    border-bottom: 1px solid #950c17;
}
.sell:hover  .fa-angle-right{
    transform: translate(5px,0);
    transition: all 0.5s ease;
}

.footer_content span:hover{
    border-bottom: 1px solid black;
}
.last_content span:hover{
    border-bottom: 1px solid black;
}
 .last_content span:hover{
    border-bottom: 1px solid black;
}
.backhome:hover{
    background-color: white;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%), 0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
        ;
}
#home {
    text-decoration:none;
}
.none860{
    display: flex;
}
#none860{
    display: none;
}
.more_box{
    display: none;
}
@media (max-width: 1800px) {
    .content {
        width: 100%;
        margin: 0;
    }

}

@media (max-width: 1400px) {
    .content {
        width: 100%;
        margin: 0;
    }
    .product_title {
        font-size: 1.5rem;
    }

    .title_product {
        font-size: 1.8125rem;
    }

    .right_options .none {
        display: none;
    }

    .right_options > .button {
        padding: 0;
    }

    #burger {
        border: 1px;
        /* background-color: blue; */
        font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #262626;
        font-size: 13px;

        margin: 1px 4px;
        padding: 16px 8px 10px 8px;
/* 
        display: flex;
        align-items: center; */
    }
}
@media (max-width: 1260px) {
    .button_title{
        width: 20%;
    }
    ul{
        width: 1025px;
        margin-left: -700px;
    }
    
}
@media (max-width: 1084px) {
    .content {
        padding: 0 12px;
    }
    .button_title{
        width: 25%;
    }
    ul{
        width: 820px;
        margin-left: -520px;
    }
    .new {
        background-color: white;
    }
    .computer_pic{
        flex-wrap: wrap;
    }
    .title_content{
        margin: 0;
        padding: 0;
        transform: translate(0, calc(-3rem - 12px));
    }
    
    .title_box {
        width: 100%;
        background-color: white;
        box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%), 0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);

    }
    .big_title{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .slide{
        transform: translate(0, calc(-3rem - 12px));
        margin-bottom: 0;
    }
    .product_box {
        width: calc((100% - 24px) / 2);
    }

    .function_pic {
        flex-wrap: wrap;

        margin-bottom: calc(96px - 3rem - 12px );
    }
    .function_content{
        margin: 0px;
        padding: 0 12px;
        transform: translate(0, calc(-3rem - 12px));
    }
    .function_box {
        width: 100%;
        background-color: white;
        box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%), 0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
        ;
        margin: 0;
    }
    .title_product{
        font-size: 1.5rem;
    }
    .footer_box {
        width: 33.33333%;
        padding: 0 12px;
    }

    .product_title {
        font-size: 1.3125rem;
    }

    .product {
        margin-bottom: 0;
    }
    .function .content{
        /* width: 100%; */
        padding: 0;
    }

}


@media (max-width: 910px){
    .none860{
        display: none;
    }
    .more_box{
        background-color: #f2f2f2;
        border-bottom: 2px solid#000000!important;
        border: 1px solid#e4e4e4;
        position: absolute;
        top: 55px;
        z-index: 100;

    }
    .more_box .button{
        width: 168px;
        padding: 18px 0 24px 18px;
    }
    #more:checked ~ .more_box{
        display: block;
    }
    #none860{
        display: block;
    }
    .right_options .button{
        margin: 0;
    }
        
}


@media (max-width: 860px) {
    .left_box > .button:first-child{
        padding: 0;
    }
    #burger:checked ~ ul{
        display: none;
    }

    .fa-chevron-down{
        display: none;
    }
    .header{
        position: relative;
    }
    .microbox{
        display: none;
    }
    .microbox2{
        display: block;

        position: absolute;
        right: calc(50% - 60.5px);
    }
    .none {
        display: none;
    }
    .title_box{
        padding: 24px 12px 16px 12px;
    }
    .fa-bars{
        display: block;
    }
    .right_options{
        width: 100%;
        justify-content: space-between;
    }
    .right_box > .button{
        padding: 0;
    }
    .left_options{
        display: none;
    }
    .ex{
        display: none;
    }
    #none2{
        display: none;
    }
    #none1{
        font-size: 20px;
        padding-top: 4px;
        display: block;
    }
    .burger_phone{
        width: 100%;
        background-color: #f2f2f2;
        border-bottom: 2px solid#000000;
        z-index: 10;
    }
    .left_box > .button{
        position: unset;
    }
    .header{
        position: unset;
    }
    #burger2:checked ~ .burger_phone{
        display:block;
    }
    body{
        position: relative;
    }
    .burger_phone{
        width: 100%;

        position: absolute;
        top: 55px;
        right: 0;
    }
    .burger_phone  .button{
        font-size: 15px;
        margin: 0;

        border-bottom: 1px solid #e6e6e6;

        display: flex;
        flex-direction: column;
        align-items: unset;
    }

    .pull{
        width: 100%;

        display: flex;
        justify-content: space-between;
    }
    .hidden{
        display: none;
    }
    #burger_pull_a:checked ~ .hidden{
        display: block;
    }
    #burger_pull_b:checked ~ .hidden{
        display: block;
    }
    #burger_pull_c:checked ~ .hidden{
        display: block;
    }
    #burger_pull_d:checked ~ .hidden{
        display: block;
    }
    #burger_pull_e:checked ~ .hidden{
        display: block;
    }
    #burger_pull_f:checked ~ .hidden{
        display: block;
    }
}
@media (max-width: 768px) {
    .last{
        padding: 30px 12px 16px 12px;

        display: flex;
        flex-wrap: wrap;
    }
    .last_box .last_content{
        /* width: 100%; */
        padding: 6px 4px 0px 6px;
    }
    .last_box{
        width: 100%;
        margin-top: 12px;
        margin-bottom: 3px;

        display: flex;
        flex-wrap: wrap;

        transform: translate(-6px,0);
    }
}

@media (max-width: 540px) {
    .product_box{
        width: 100%;
    }
    .title_content{
        padding: 0;
        transform: translate(0, 0);
    }
    .function_content{
        padding: 0;
        transform: translate(0, 0);
    }
    .title_box{
        width: 100%;
        background-color: white;
        box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%), 0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    .function_box {
        width: 100%;
        background-color: white;
        box-shadow: none;
        margin: 0;
        padding-left: 12px;
        padding-right: 12px;
    }
    .backhome {
        padding: 12px;
        float: none;
        position: sticky;
        bottom: -200px;
        right: 12px;
        /* top: 5px; */
        display: flex;
        justify-content: center;
        margin: 12px;
    
    }
    #to_top{
        text-decoration:none!important;
    }
    .fa-arrow-up{
        padding: 3px;
    }
    .footer_box{
        width: 100%;
    }
    .footer{
        height: 100%;
        padding-bottom: 0;
    }




}
