.box{
    width: 900px;
    height: 600px;
    border: 1px solid black;

    display: flex;
    /* 換行 */
    flex-wrap: ;
    /* 主軸線跟交錯軸變換位置 */
    flex-direction: ;
    justify-content: space-between;
    align-items: center;
}
.box1{
    width: 75px;
    height: 120px;
    background-color: aqua;
}
.box2{
    width: 75px;
    height: 120px;
    background-color: rgb(255, 204, 0);
}
.box3{
    width: 75px;
    height: 120px;
    background-color: rgb(136, 0, 255);
}
