@charset "utf-8";
	.st9
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st10
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st12
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st2
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st5
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st1
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st4
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st7
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st11
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st13
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st3
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st6
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st14
{
	font-family : Adobe 明體 Std;
	font-size : 24px;
	color : #000000;
	color : rgb(0, 0, 0);
}
.st8
{
	font-family : Adobe 明體 Std;
	font-size : 14px;
	color : #000000;
	color : rgb(0, 0, 0);
}
