body, html{
    margin: 0px;
    padding: 0px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
a{
    text-decoration: none;
    /* color: black; */
}
#under_line:hover{
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}
#under_line_r:hover > .menu_R_text{
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}
#under_line_l:hover > .menu_L_text{
    text-decoration: underline 2px;
    text-underline-offset: 3px;
}
.top_box{
    /* display: flex; */
    width: 90%;
    padding: 0 5%;
}
.topbar{
    /* background-color: aqua; */
    max-width: 1600px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.left{
    display: flex;
    float: left;
}
.logo_btn{
    padding: 14px 16px 7px;
    padding-left: 8px;
    margin-left: 3px;
}
.logo{
    width: 108px;
}
.leftbar{
    margin: 0px;
    margin-left: 8px; 
    padding: 0px;
    display: flex;
}
li{
    list-style: none;
    font-size: 13px;
}
.menu{
    padding: 10px;
    color: rgb(38, 38, 38);
    /* font-weight: 100; */
}
.menu_L{
    display: inline-block;
    padding-top: 19px;
    margin-right: 9px;
}
.menu_L_btn{
    display: none;
    padding: 0 10px;
    font-size: 13px;
}
.menu_L_btn{
    display: none;
}
.menu_box_L{
    display: none;
}
input:checked ~ .menu_box_L{
    display: flex;
}
.rightbar{
    display: flex;
    margin: 0px;
    margin-right: 42px;
    /* margin-top: 19px; */
}
.bar_ul{
    display: none;
}
.menu_R{
    display: flex;
    padding-top: 18px;
}
.shop{
    padding-top: 17px;
}
.link_color{
    color: #262626;
}
input {
    display: none;
}
.menu_box{
    display: none;
}
.menu_btn_arrow{
    font-size: 16px;
    margin-left: 3px;
    margin-top: 6px;
}
.menu_ul{
    background-color: #f2f2f2;
}
.menu_ul2{
    flex-direction: column;
    width: 195px;
    padding-bottom: 12px;
}
.menu_title{
    margin-top: 1.5px;
    margin-left: -1px;
    font-weight: 600;
    padding: 18px 0px 18px 24px;
}

.menu_btn{
    margin-top: 1px;
    margin-right: 1px;
    padding: 17px 9px 14px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
}
input:checked + .menu_btn{
    background-color: #f2f2f2;
    border: 1px dashed black;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
input:checked ~ .menu_box{
    display: block;
    width: 1228px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52px;
    left: 22.99%;
    border: 1px solid #E6E6E6;
    border-bottom: 2px solid black;
}
.menu_li{
    padding: 15px 0px 11.5px 23px;
}
.menu_li:hover{
    text-decoration: underline;
}
.map_box{
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    padding: 12px 24px;
    padding-bottom: 9px;
}
.map{
    display: flex;
    color: rgba(0, 0, 0, 0.774);
    margin-left: 14px;
}
.map_text{
    margin-right: 5px;
}
.map_text:hover{
    text-decoration: underline;
}
.map_arrow{
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.411);
}
.right_menu_box{
    display: flex;
}
.menu_R_box{
    display: flex;
}
.bar_btn{
    display: none;
}
.search_btn{
    margin-right: -18px;
}
.search{
    font-size: 16px;
    transform: rotateY(180deg);
    margin-top: 1px;
    margin-left: 4px;
}
.shop{
    margin-left: 50px;
    padding-right: 6px;
}
.shopping{
    padding-top: 3px;
    padding-left: 6px;
    font-size: 14px;
}
.user_btn{
    margin-right: -40px;
}
.user{
    margin-left: 15px;
    font-size: 20px;
}




.main_img{
    display: flex;
}
.m_img{
    width: 100%;
}
.m_text_box{
    width: 100%;
    margin-left: -100%;
    display: flex;
}
.container{
    width: 90%;
    padding: 0 5%;
    max-width: 1600px;
    margin: auto;
}
.m_text_back{
    display: none;
}
.m_text{
    margin-bottom: 3px;
    padding: 48px;
    display: inline-block;
    width: 26.5%;
}
.text_box1{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    line-height: 1;
    background-color: rgb(255, 185, 0);
    font-weight: 600;
}
.text_box2{
    font-size: 37px;
    font-weight: 500;
    padding-bottom: 19px;
}
.text_box3{
    line-height: 1.5;
    /* max-width: 430px; */
    margin-bottom: 24px;
}
.text_btn{
    display: inline-block;
    padding: 10px 14px;
    padding-top: 9px;
    background-color: rgb(0, 103, 184);
    color: white;
    font-weight: 600;
    border-radius: 2px;
}
.text_btn:hover{
    background-color: #175CA3;
    box-shadow: 0 0 2px 0px #175da38e;
}
.m_btn_bar{
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 15px;
}
.m_arrow{
    font-size: 25px;
    margin: 0px 28px;
    color: black;
}
.L_arrow ,.R_arrow{
    position: relative;
    left: 0px;
    transition: 0.5s;
}
.L_arrow:hover{
    position: relative;
    left: -10px;
}
.R_arrow:hover{
    position: relative;
    left: 10px;
}

.circle{
    font-size: 10px;
    margin: 8px 8px;
}
.box{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 66px;
}
.box_btn{
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
    font-size: 16px;
    font-weight: 600;
    text-decoration-line: underline;
    color: rgb(27, 103, 182);
}
.box_img{
    width: 40px;
    margin: auto;
    margin-bottom: 9px;
}
ul{
    padding: 0px;
    display: flex;
}
.content{
    margin-bottom: 81px;
}
.ct_box{
    width: 25%;
    padding: 0px 12px;
}
.ct_start{
    padding: 0px;
    padding-right: 12px;
}
.ct_end{
    padding: 0px;
    padding-left: 12px;
}
.ct_img{
    width: 100%;
}
.title{
    font-size: 29px;
    font-weight: 600;
    margin: 11px 0px 15px 0px;
    color: black;
}
.content_text{
    font-size: 16px;
    line-height: 1.5;
    color: black;
    display: inline;
}
.link_box{
    display: flex;
    font-size: 16px;
    margin: 25px 0px;
    font-weight: 600;
}
.under_line_box{
    display: inline-flex;
    color: rgb(27, 103, 182);
}
.under_line_box:hover #under_line2{
    text-decoration: underline;
}
.under_line_box:hover .right_arrow{
    position: relative;
    left: 4px;
}

.link_box1{
    margin-right: 34.5px;
}

.right_arrow{
    margin-left: 5px;
    position: relative;
    left: 0px;
    transition: 0.5s;
}

.m_img2_box{
    width: 100%;
    display: flex;
    justify-content: center; 
}
.m_img2{
    width: 100%;
}
.m_text2{
    padding-top: 46px;
    margin: 0 48px;
}
.text_box2_2{
    padding-bottom: 18px;
}
.text_btn_2{
    padding-left: 14px;
    padding-right: 14px;
}
.title_text{
    font-size: 37px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 96px;
}
.ct_new{
    font-size: 16px;
    margin-top: 13px;
    margin-bottom: 0px;
    color: black;
}
.title_2_1{
    margin-top: 2px;
}
.title_2{
    margin-top: 45px;
    margin-bottom: 16px;
    line-height: 1.2;
}
.content_bottom{
    margin-bottom: 15px;
}
.icon_box{
    display: flex;
    font-size: 16px;
    width: 90%;
    padding-top: 18px;
    padding-bottom: 40px;
}
.icon_text{
    margin-top: 5px;
}
.icon_btn{
    color: black;
    width: 32px;
    margin: 0px 1px;
    margin-left: 15.8px;

}

.sticky{
    margin-top: -43px;
}
.top_btn_box{
    width: 100%;
    display: inline;
    position: sticky;
    top: calc(100% - 43px);
    left: calc(100% - 125px);
}
.top_btn{
    display: inline-block;
    background-color: #D9D9D9;
    font-size: 16px;
    color: black;
    font-weight: 600;
    padding: 12px 14px 10px 19px;
    border-radius: 2px;
}
.top_btn:hover{
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(129, 129, 129, 0.329);
}
#under_line3:hover{
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}

.footer{
    margin-top: 71px;
    background-color: #f2f2f2;
    color: #616161;
}
.box_column{
    font-size: 400px;
    line-height: 1.5;
    font-size: 12px;
    max-width: calc(1600px + 10%);
    display: flex;
    margin: 0px auto;
    padding: 0px 8%;
}
.column{
    width: calc(100%/6);
    flex-direction: column;
    margin: 0px;
}
.column1{
    padding: 0 12px 0 0;
}
.column2{
    padding: 0 12px;
}
.column_title{
    margin-top: 2px;
    font-size: 15px;
    padding: 33px 0 2px 0;
    font-weight: 600;
}
.color_61{
    color: #616161;
}
.column_li{
    padding: 7px 0;
    font-size: 12px;
}
.footer_bar{
    margin-top: 17px;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
}
.language{
    font-size: 12px;
}
.footer_L_box{
    display: flex;
    margin-top: 15px;
}
.footer_L_text:hover{
    text-decoration: underline;
}
.earth{
    font-size: 20px;
    padding-right: 9px;
}
.footer_R_box{
    margin-right: -4px;
}
.footer_R{
    padding: 0 27.3px 7px 0;
    line-height: 16px;
    font-size: 11px;
}