.banner{
    width: 100%;
    display: flex;
}
.justify-content-end{
    display: flex;
    justify-content: end;
}
.picture_container{
    width: 100%;
    display: flex;
    align-items: center;
}
.demo_container{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: -100%;
}
.demo_small_container{
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
}
.demo_card{
    width: 37%;
    padding: 48px;
}
.on-sell{
    font-size: 1rem;
    background-color: #ffb900;
    word-break: keep-all;
    padding: 6px 12px;
}
.demo-header{
    font-size: 2.3125rem;
    margin-top: 8px;
    margin-bottom: 20px;
}
.demo-body{
    font-size: 1rem;
    word-wrap: break-word;
    margin-bottom: 24px;
}
.about-learn{
    background-color: #0067b8;
    color: #fff !important;
    display: inline-block;
    padding: 10px 12px;
    border: 0.125rem solid transparent;
    margin: 8px 0;
}
.banner_action{
    display: flex;
    justify-content: center;
}
.banner_action_region{
    width: 176px;
    height: 44px;
    display: flex;
}
.banner_action_box{
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner_action_arrow{
    font-size: 16px;
    padding: 0 8px;
}
.banner_action_dot{
    font-size: 12px;
}