.banner{
    width: 100%;
    height: 594.6px;
    background-image: url('https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Surface-Pro-9-M1-Family-02-1:VP5-1920x600');
    margin-bottom: 48px;
    padding: 165px 0;
}
.demo_container{
    width: calc(100% - 110px);
    height: 284px;
    margin: 0px 56px 0px 56px;
    padding: 0 95.1px;
}
.demo_card{
    width: 41.65%;
    height: 100%;
    float: right;
    padding: 48px;
}
.text_box_1{
    padding: 4px 12px;
    margin: 0 0 8px 0;
    background-color: #ffb900;
    font-size: 1rem;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
}
.text_box_2{
    font-size: 37px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 20px 0;
}
.text_box_3{
    font-size: 15px;
    font-family: 'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 0 24px 0 ;
}
.text_box_4{
    background-color: #0067b8;
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 10px 12px;
    margin: 8px 0;
}
.banner_action{
    width: 100%;
    height: 64px;
}