.about_business{
    width: 94.06%;
    height: 505px;
    margin: 96px 56.3px 48px 56.3px;
    padding: 0 95.1px;
}
.business_text{
    font-size: 37px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}
.business_product{
    width: 100%;
    height: 436px;
    display: flex
}
.business_product_box{
    width: 25%;
    height: 100%;
    padding: 0 12px;
}
.business_picture{
}
.business_demo{
    width: 100%;
    height: 48px;
    padding-top: 16px;
}
.business_header_title{
    font-size: 29px;
    margin-bottom: 16px;
}
.business_header_text{
    word-break: keep-all;
}
.business_footer{
    height: 56px;
    padding-top: 16px;
    text-align: left;
    color: #0067b8;
}