@media(max-width:1400px){
    .container{
        width: 90%;
    }
    .product_support{
        width: 70%;
    }
    .user_action{
        width: 18%;
    }
    .mircosoft_menu_text{
        width: 87px;
    }
    .search_box_text{
        display: none;
    }
    .shopcar_text{
        display: none;
    }
    .user_login{
        display: none;
    }
    .banner{
        position: relative;
    }
    
    
}
@media(max-width:1084px){
    .container{
        margin:0 0 2px 0;
        padding: 0 24px;
    }
    .banner{
        position: relative;
    }
}


@media(max-width:860px){
    
}