*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 54px;
    margin-bottom: 1px;
}
.container{
    width: 84.2%;
    height: 100%;
    margin: auto;
    display: flex;
}
.logo{
    width: 8.5%;
    height: 100%;
}
.mirco_logo{
    width: 108px;
    height: 23px;
    margin: 16px 10px;
}
.product_support{
    width: 66.7%;
    height: 100%;
    padding-bottom: 5px;
}
.nav_list_A{
    list-style: none;
    display: flex;
}
.nav_list_A_box{
    height: 20px;
    font-size: 13px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 18px 13px 11px 13px;
}
.user_action{
    width: 24.8%;
    height: 100%;
}
.nav_list_B{
    width: 100%;
    list-style: none;
    display: flex;
}
.nav_list_B_box{
    font-size: 13px;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.mircosoft_menu{
    padding: 16px 24px 16px 15px;
    display: flex;
}
.mircosoft_menu_icon{
    width: 12px;
    height: 18px;
}
.search_box{
    width: 90px;
    padding: 15px 9px;
    display: flex;
}
.search_box_text{
    margin-right: 4px;
}
.shopcar{
    padding: 2px 0 8px 0;
    margin:1px 4px 0 18px;
    display: flex;
    align-items: center;
}
.user_information{
    margin-left: 1px;
    display: flex;
    align-items: center;
}
.user_login{
    padding: 0 4px 0 12px;
}
.user_headimg{
    margin: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
}
