.onedrive_intro{
    width: 94.06%;
    height: 600px;
    margin:72px 56.3px 48px 56.3px;
    padding: 0 95.1px;
}
.onedrive_demo_card{
    width: 41.65%;
    height: 100%;
    float: left;
    padding: 48px;
}