*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.set-in{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-24{
    font-size: 24px;
}
.text-36{
    font-size: 36px;
}
.text-48{
    font-size: 48px;
}
.text-60{
    font-size: 60px;
}
.text-72{
    font-size: 72px;
}
.text-96{
    font-size: 96px;
}
.w-33{
    width: 33.333%;
}
.h-100{
    height: 100%;
}
.display-none{
    display: none;
}
/* game-start-region */
.game_start_region{
    width: 100%;
    height: 100vh;
    background-image: url('https://pic.616pic.com/bg_w1180/00/10/52/djRwP5S3EJ.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    padding: 60px;
    margin-bottom: 60px;
}
.btn-decorate-blue{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid rgb(36, 115, 241);
    background-color: #fff;
    color: rgb(25, 69, 245);
    transition: 0.5s;
}
.btn-decorate-blue:hover{
    color: #fff;
    background-image: radial-gradient(100% 100% at 100% 0, #2cc7d8 0, #384bb9 100%);;
    transform: translate(0,7.5px);
}
/* game_container */
.game_container{
    width: 100%;
    height: 100vh;
}
.game_display_region{
    width: 100%;
    height: calc(100% - 64px);
}
.throw_btn_region{
    margin-top: 30px;
}
.throw_btn_decorate{
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px solid rgb(240, 214, 12);
    background-color: #fff;
    color: rgb(253, 233, 12);
    transition: 0.5s;
}
.throw_btn_decorate:hover{
    color: #fff;
    background-image: radial-gradient(100% 100% at 100% 0, #eff311 0, #eec212 100%);;
    transform: translate(0,7.5px);
}
.game_result{
    margin-top: 30px;
}



/* ---dice_part--- */
.dice{
    width: 48px;
    height: 48px;
    background-color: tomato;
    border-radius: 10px;
    padding: 6px;
    margin: 8px;
}
.dot{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
}
.first-dice{
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-dice{
    display: flex;
    justify-content: space-between;
}
.second-dice .dot:nth-of-type(2){
    align-self: flex-end;
}
.third-dice{
    display: flex;
    justify-content: space-between;
}
.third-dice .dot:nth-of-type(2){
    align-self: center;
}
.third-dice .dot:nth-of-type(3){
    align-self: flex-end;
}
.fourth-dice{
    display: flex;
    position: relative;
}
.fourth-dice .dot:nth-of-type(2){
    position: absolute;
    right: 8px;
}
.fourth-dice .dot:nth-of-type(3){
    position: absolute;
    bottom: 8px;
}
.fourth-dice .dot:nth-of-type(4){
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.fifth-dice{
    display: flex;
    position: relative;
}
.fifth-dice .dot:nth-of-type(2){
    position: absolute;
    right: 8px;
}
.fifth-dice .dot.dot:nth-of-type(3){
    position: absolute;
    bottom: 8px;
}
.fifth-dice .dot:nth-of-type(4){
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.fifth-dice .dot.dot:nth-of-type(5){
    position: absolute;
    right: calc(50% - 6px);
    bottom: calc(50% - 6px);
}
.sixth-dice{
    display: flex;
    position: relative;
}
.sixth-dice .dot:nth-of-type(2){
    position: absolute;
    right: 8px;
}
.sixth-dice .dot.dot:nth-of-type(3){
    position: absolute;
    bottom: calc(50% - 6px);
}
.sixth-dice .dot.dot:nth-of-type(4){
    position: absolute;
    bottom: calc(50% - 6px);
    right: 8px;
}
.sixth-dice .dot.dot:nth-of-type(5){
    position: absolute;
    bottom: 8px;
}
.sixth-dice .dot.dot:nth-of-type(6){
    position: absolute;
    bottom: 8px;
    right: 8px;
}