*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}
nav{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2px;
}
a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
}
.nav-display-flex{
    display: flex;  
}
.nav-display-none{
    display: none ;
}
.nav-big-container{
    width: 94.2%;
    height: 54px;
    margin: auto;
}
.small-container{
    display: flex;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.mirco_logo{
   width: 108px;
   height: 23px;
   margin: 15px 10px;
}   
.nav-prod-list-box{
    height: 48px;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 16px 8px 10px 8px;
    margin: 1px 4px 0 4px;    
}
.nav-prod-list-box:active{
   border: 1px dotted black;
}
.nav-prod-list-box-text:hover{
    border-bottom:2px solid black;
}

.user-action{
    width: 390px;
    height: 100%;
    display: flex;
}
.user-action-box{
    font-size: 13px;
}

.mircosoft_menu{
    height: 52px;
    padding: 16px 12px 16px 15px;
    margin-top: 1px;  
    border: 1px solid transparent;
    display: inline-block;
}
.mircosoft_menu_text{
    width: 96px;
}
.mircosoft_menu_text::after{
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 900;
    margin-left: 1px;
}

.search-box{
    width: 90px;
    height: 52px;
    padding: 16px 9px 16px 9px;
    border: 1px solid transparent;
    display: flex;
}
.search_box_icon{
    font-size: 14px;
    margin-left: 2px;
}

.shopcar{
    width: 61px;
    padding: 2px 0 2px 0;
    margin:1px 4px 0 18px;
    border: 1px solid transparent;
    display: flex;
}
.shopcar_text{
    width: 39px;
    line-height: 48px;
    margin-right: 4px;
}
.shopcar_icon{
    line-height: 48px;
}

.user_information{
    margin-left: 1px;
    display: flex;
    align-items: center;
}
.user_login{
    width: 52px;
    padding: 0 4px 0 12px;
}
.user_headimg{
    margin: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
}

.mircosoft_menu_text{
    position: relative;
}
.mircosoft_menu_burger{
    width: 1230px;
    position: absolute;
    top: 56px;
    left: 450px;
    background-color: #e6e6e6;
    display: none;
}
label{
    display: block;
}   
#burger:checked + .mircosoft_menu_burger{
    display: block;
    display: flex;
    flex-wrap: wrap;
}

.menu_burger_title{
    width: 16.666%;
}
.soft-burger-div{
    width: 100%;
}
.burger-text{
    padding: 18px 0 18px 24px;
}