.layout_region{
    width: 100%;
    height: 120px;
    margin: 48px 0;   
}
.layout_flexbox{
    width: 84%;
    height: 104px;
    margin: 0 auto 16px;
    display: flex;
    justify-content: center;
}
.layout_box{
    height: 72px;
    margin: 16px 24px;
    font-size: 16px;
}
.layout_img_region{
    display: flex;
    justify-content: center;
}
.img_cannot_margin_auto{
    margin-bottom: 8px;
}
.layout_text_region{
    border-bottom: 2px solid black;
}
.layout_text_region:active{
    border: 3px dotted black;
}