.business-region{
    width: 94%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
}
.business-text{
    font-size: 37px;
    margin-bottom: 20px;
    font-family: inherit;
    font-weight: 600;
}
.business-intro-region{
    /* width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto; */
    display: flex;
}
.business-intro-card{
    width: 25%;
    padding: 0 12px;
}