footer{
    width: 100%;
    margin-top: 48px;
    background-color: #f2f2f2;
}
.footer-link{
    width: 94%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0 auto;
    display: flex;
}
.footer_ul_box{
    width: 16.66666%;
    height: 81.5%;
    padding: 0 12px;
}
.footer_banner{
    padding: 36px 0 4px 0;
}
.font-15px{
    font-size: 15px;
}
ul{
    list-style: none;
}
.footer_ul_box>ul>li{
    padding: 8px 0 ;
    font-size: 12px;
}

.end{
    font-size: 12px
}
.end-ul-box{
    max-width: calc(1600px + 10%);
    height: 72px;
    padding: 30px 5% 16px;
    margin: 0 auto;
}
.language{
    float: left;
}
.end-link{
    float: right;
    display: flex;
}
.end-li{
    height: 20px;
    padding: 0 24px 4px 0;
}

.footer_ul_box>ul>li>footer_text:hover{
    border-bottom: 1px solid black;
}

/* <footer_text></footer_text> */