@media (max-width:1400px) {
    /* nav */
    .nav-container{
        width: 90%;
    }
    .user-action{
        width: 255px;
        display: flex;
        justify-content: end;
    }
    .mircosoft_menu_text{
        width: 96px;
    }
    .search-box{
        width: 36px;
    }
    .search_box_text{
        display: none;
    }
    .shopcar{
        width: 24px;
    }
    .shopcar_text{
        display: none;
    }
    .user_login{
        display: none;
    }
    .mircosoft_menu_text{
        position: relative;
    }
    .mircosoft_menu_burger{
        position: absolute;
        top: 56px;
        left: 100px;
    }

    /* banner */
    .demo-card{
        width: 420px;
    }

    /* control nothing */
    /* layout nothing*/

    /* product intro*/
    .product_intro_demo{
        width: 100%;
    }
    /* ondrive nothing */

    /* business */
    .business-region{
        width: 100%;
    }

    /* contact method*/
    .contact-method{
        width: 100%;
    }

    /* totop nothing */

    /* footer */
    .footer-link{
        width: 100%;
    }
}