@media (max-width:1084px) {
    /* nav nothing*/

    /* banner */
    .banner{
        display: block;
    }
    .banner-demo-container{
        width: 100%;
        margin: 0;
        display: block;
    }
    .small-demo-container{
        width: 100%;
        padding: 0 12px;
        margin: 0;
    }
    .display-block{
        display: block;
    }
    .demo-card{
        width: 100%;
        padding: 48px;
        background-color: #fff;
        transform: translate(0,-25%);
        box-shadow: 0 0 5px;
    }
    .big-demo-header{
        font-size: 24px;
    }
    .big-about-learn{
        margin: 0;
    }

    /* control-banner */
    .control_banner{
    }

    /* layout_region nothing*/

    /* product-intro */
    .product_intro_demo{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .product-intro-card{
        width: 50%;
    }

    /* mircosoft-onedrive */
    .soft-onedrive{
        margin-bottom: 0;
    }
    .soft-onedrive-container{
        width: 100%;
        padding: 0;
        display: block;
    }
    .onedrive-demo-container{
        margin: 0;
    }
    .onedrive-small-container{
        width: 100%;
        margin: 0;
        padding: 0 12px;
    }

    /* business */
    .business-region{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .business-text{
        font-size: 24px;
        padding: 0 12px;
    }
    .business-intro-region{
        display: flex;
        flex-wrap: wrap;
    }
    .business-intro-card{
        width: 50%;
    }

    /* contact-method*/
    .contact-method{
        padding-left: 12px;
        padding-right: 12px;
    }

    /* to-top nothing */

    /* footer */
    .footer-link{
        width: 100%;
        padding: 0 12px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer_ul_box{
        width: 33%;
    }
    .end-ul-box{
        padding-left: 24px;
        padding-right: 24px;
    }
}