@media (max-width:860px) {
    /* nav */
    nav{
        padding: 2px 0;
        margin: 0;
    }
    .nav-big-container{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: unset;
    }
    .small-container{
        width: 100%;
        display: block;
    }
    .display-860-block{
        display: block;
    }
    .display-860-none{
        display: none;
    }

    .user_action{
        display: flex;
        justify-content: space-between;
    }
    .nav-user-list{
        width: 100%;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
    }
    .mirco_logo{
        margin: 13px 10px;
    }

    .nav-all-hamburger{
        width: 48px;
        height: 48px;
        padding: 6px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    label{
        display: block;
    }
    #nav-all-burger:checked+.nav-all-burger-ul{
        display: block;
    }
    .nav-all-hamburger{
        position: relative;
    }
    .nav-all-burger-ul{
        width: 100%;
        background-color: #e6e6e6;
        position: absolute;
        top: 56px;
        left: 0%;
        z-index: 1;
        display: none;
    }

    .menu_burger{
        display: none;
    }
    #soft-burger:checked +.menu_burger{
        display: block;
    }
    #pc-burger:checked +.menu_burger{
        display: block;
    }
    #entertain-burger:checked +.menu_burger{
        display: block;
    }
    #business-burger:checked +.menu_burger{
        display: block;
    }
    #it-burger:checked +.menu_burger{
        display: block;
    }
    #other-burger:checked +.menu_burger{
        display: block;
    }

    .hamburger-860-hamburger{
        padding: 14px 24px 15px 15px;
        margin: 1px;
        font-size: 15px;
    }

    .menu_burger_title{
        width: 100%;
    }
    .soft-burger-div{
        width: 100%;
    }
    .nav-prod-list-box-text:hover{
        border: 0;
    }
    .nav-prod-list-box-text:active{
        border: 1px dotted black;
    }
    .menu_burger{
        padding: 1px 0 0 30px;
    }
    .menu_burger>.burger-text:active{
        border: 1px dotted black;
    }
    .soft-burger-div>.hamburger-860-hamburger::after{
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 1000;
        float: right;
    }
    .border-860-bottom{
        border-bottom: 1px solid rgb(211, 206, 206);
    }

    /* banner */
    .banner{
        display: block;
    }
    .demo-card{
        transform: translate(0,0);
        padding: 24px 16px 24px 12px;
        box-shadow: none;

    }
    .control_banner{
        transform: translate(0,0);
    }
    /* layout-region */
    .layout_region{
        margin: 0;
    }
}

@media (max-width:770px) {
    /* footer 770px */
    footer{
        height: 715px;
    }
    .language{
        float: none;
    }
    .end-link{
        float: left;
        margin: 12px 0 3px 0;
    }
}